@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(229, 57%, 11%);
  height: 100vh;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
main {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 35%;
}
.main-header {
  background-color: hsl(228, 56%, 26%);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  padding: 40px 110px 30px 40px;
  grid-template-areas:
    "logo logo logo"
    "document folder upload";
  border-radius: 10px 80px 10px 10px;
}
.logo {
  grid-area: logo;
}
.icons {
  background-color: hsl(229, 57%, 11%);
  margin: 30px 15px 0 0;
  padding: 13px;
  display: grid;
  grid-auto-flow: column;
  border-radius: 10px;
  cursor: pointer;
}
.secundary-header {
  display: grid;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  padding: 40px;
  overflow: visible;
}
.object {
  position: absolute;
  background: white;
  height: 130px;
  top: -30px;
  margin-left: 250px;
  width: 200px;
  border-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 74%, 69% 51%, 0% 50%);
  display: flex;
  justify-content: center;
  opacity: 1;
}
.header-text {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-align: left;
  color: white;
}
.switch {
  margin-top: 10px;
  width: 450px;
  height: 1.4rem;
  background-color:hsl(229, 57%, 11%);
  border-radius:1rem;
  padding:3px;
}

.switch .progress-bar-color{
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(245, 210, 168, 1) 0%,
    rgba(255, 67, 0, 1) 100%
  );
  height:100%;
  width:75%;
  padding:1px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  flex-direction:column;
  border-radius:1rem;
  position:relative;
}

.switch .ball{
  background-color:#fff;
  width:1rem;
  height:1rem;
  border-radius:1rem;
  position:absolute;
  right:0;
  bottom:0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0px;
  bottom: 0px;
  background-color: white;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.db {
  font-family: "Raleway" sans-serif;
  font-size: 1rem;
  color: #808080;
}
#bold-text {
  font-size: 2rem;
  color: black;
}
.h3container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.inline {
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.right {
  margin-right: 0;
}
.left {
  margin-left: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  body {
    background-image: url(./images/bgmobile.png);
  }
  main {
    grid-auto-flow: row;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-header {
    grid-auto-flow: row;
    padding: 30px;
  }
  .secundary-header {
    position: relative;
    display: block;
  }
  .switch {
    width: 300px;
  }
  .object {
    position: fixed bottom center;
    background: white;
    height: 69px;
    width: 200px;
    margin-right: 69px;
    border-radius: 10px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left:0;
    top:169px;
  }
}
